{% extends 'eqlog/base.html' %}

{% block content %}
    <h1>{{ title }}</h1>
    Более подпробное описание проекта доступно по <a href="https://github.com/Nortgres/equipment-log">ссылке.</a>

<p>Первичная настройка:</p>
<p>1. python manage.py createsuperuser</p>
<p>2. заходим в /admin/</p>
<p>3. создаём отделы предприятия</p>
<p>4. создаём пользователей</p>
<p>5. добавляем сотрудников уже под рядовым пользователем</p>
<p>6. рекомендуется завести склад под видом одного из сотрудников</p>
{% endblock %}