{% extends 'eqlog/base.html' %}

{% block content %}
<div class="center">
    <form id="add-equipment-form" action="{% url 'addequipment' %}" class="card" method="post" enctype="multipart/form-data">
        <h2> {{ title }} </h2>
        {% csrf_token %}
        {{ form.as_p }}
        <form method="POST" action="{% url 'generate_in' %}">
            <button type="button" id="generate-inventory-number">Сгенерировать Инвентарный Номер</button>
        </form>
        <p>Инвентарный номер: <span id="inventory-number"></span></p>
        <p class="form-buttons">
            <input type="submit" class="btn btn-primary" value="Добавить">
            <a href="{% url 'equipments' %}" class="btn btn-outline">Отмена</a>
        </p>
    </form>
</div>

<script>
document.getElementById('generate-inventory-number').addEventListener('click', function() {
    fetch('{% url "generate_in" %}', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}'
        }
    })
    .then(response => response.json())
    .then(data => {
        document.getElementById('inventory-number').textContent = data.inventory_number;
    });
});
</script>
{% endblock %}
