{% extends 'eqlog/base.html' %}

{% block content %}
<h1>{{ eq.type.title }} {{ eq.model }}</h1>
<p><a href="{% url 'update_equipment' eq.id %}">Редактировать данные о оборудовании</a> </p>
<p>Инвентарный номер: {{ eq.id_number }}</p>
<p>Запись добавлена: {{ eq.created_at | date:"d E Y" }}</p>
<p>Дата покупки: {{ eq.sale_date | date:"d E Y"  }}</p>
<p>Цена покупки: {{ eq.price }}</p>
<p class="mark {% if eq.is_working %} mark_tick {% endif %}">Работает: </p>
<p class="mark {% if eq.testing %} mark_tick {% endif %}">Доступно для тестирования: </p>
<p>Серийный номер: {{ eq.serial_number }}</p>
<p>Описание: {{ eq.description }}</p>
<p>Ответственный: <a href="{{ eq.person.get_absolute_url }}"> {{ eq.person }} </a></p>
<p> </p>
{% endblock %}