{% extends 'eqlog/base.html' %}
{% block content %}
    {% if auth %}
        <h1>{{ title }}</h1>
        <p class="form-buttons">
            <a href="{% url 'addequipment' %}" class="btn btn-outline">ДОБАВИТЬ ОБОРУДОВАНИЕ</a>
        </p>
        <h3>Поиск оборудования: </h3>
        <form method="get" action="{% url 'equipments' %}">
            {{ eq_filter.form.as_p }}
            <button type="submit">Искать</button>
        </form>
        <table border="1">
            <caption>Полная таблица оборудования</caption>
            <tr>
                <th>Тип</th>
                <th>Модель</th>
                <th>Серийный номер</th>
                <th>Инвентарный номер</th>
                <th>Дата покупки</th>
                <th>Цена покупки</th>
                <th>Рабочее</th>
                <th>Доступно для тестирования</th>
                <th>Ответственный</th>
           </tr>
            {% for e in equipments %}
                <tr>
                    <td>{{ e.type }}</td>
                    <td><a href="{{ e.get_absolute_url }}"> {{ e.model }}</a></td>
                    <td>{{ e.serial_number }}</td>
                    <td>{{ e.id_number }}</td>
                    <td>{{ e.sale_date }}</td>
                    <td>{{ e.price }}</td>
                    <td class="mark {% if e.is_working %} mark_tick {% endif %}"> </td>
                    <td class="mark {% if e.testing %} mark_tick {% endif %}"> </td>
                    <td><a href="{{ e.person.get_absolute_url }}"> {{ e.person }}</a></td>
                </tr>
            {% endfor %}
        </table>
        <p> Всего оборудования: {{ equipments | length }}</p>

        {% if page_obj.has_other_pages %}
        <nav class="list-pages">
             <ul>
                 {% if page_obj.has_previous %}
                 <li class="page-num">
                      <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
                 </li>
                {% endif %}
                 {% for p in paginator.page_range %}
                    {% if page_obj.number == p %}
                        <li class="page-num page-num-selected">{{ p }}</li>
                    {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                        <li class="page-num">
                            <a href="?page={{ p }}">{{ p }}</a>
                        </li>
                    {% endif %}
                 {% endfor %}
                 {% if page_obj.has_next %}
                 <li class="page-num">
                      <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
                 </li>
                {% endif %}
             </ul>
        </nav>
        {% endif %}
    {% endif %}
{% endblock %}