{% extends 'eqlog/base.html' %}

{% block content %}
<h1>Портал учёта оборудования</h1>
<p> На данном портале проводятся все операции по первичной инвентаризации, учёту, перемещению оборудования на предприятии.</p>
<p> Возможности: </p>
<p> 1. <a href="{% url 'persons' %}">Раздел сотрудники:</a></p>
<pre>&#9;1.1 Карточка сотрудника: ФИО, отдел, должность, удалёнщик (да-нет), город, краткий перечень оборудования закреплённого за сотрудником, вложенные документы;</pre>
<pre>&#9;1.2 Общая таблица с сотрудниками. Фильтры по сотрудникам;</pre>
<pre>&#9;1.3 Добавление сотрудника. Отделы выбираяются из списка, заводятся через админку;</pre>
<pre>&#9;1.4 Редактирование сотрудника.</pre>
<p> 2. <a href="{% url 'equipments' %}">Раздел оборудование:</a></p>
<pre>&#9;2.1 Карточка оборудования: Тип, модель, серийный номер, инвентарный номер, дата покупки, стоимость, доступно для тестирования, характеристики, документы на приобретение, статус(исправно или нет);</pre>
<pre>&#9;2.2 Общая таблица с оборудованием. Фильтры по оборудованию;</pre>
<pre>&#9;2.3 Добавление нового оборудования. На этапе добавления кнопка генерации уникального инвентарного номера;</pre>
<pre>&#9;2.4 Редактирование оборудования.</pre>
<p> 3. <a href="{% url 'eqlogs' %}">Журнал последних движений оборудования:</a></p>
<pre>&#9;3.1 Отображается история перемещений оборудования от сотрудника к сотруднику.</pre>
{% endblock %}