{% extends 'eqlog/base.html' %}

{% block content %}
    {% if auth %}
        <p><a href="{% url 'update_person' ps.id %}">Редактировать данные сотрудника</a> </p>
        <h1>{{ ps.last_name }} {{ ps.first_name }} {{ ps.middle_name }}</h1>
        <p>Отдел: {{ ps.department }} </p>
        <p>Должность: {{ ps.job_title }}</p>
        <p>Дата трудоустройства: {{ ps.jobing_at }}</p>
        <p>Запись добавлена: {{ ps.created_at | date:"d E Y" }}</p>
        <p class="mark {% if ps.is_working %} mark_tick {% endif %}"> Работает: </p>
        <p class="mark {% if ps.remote %} mark_tick {% endif %}"> Удалёнщик: </p>
        <p >Город: {{ ps.city }}</p>
        <table border="1">
            <caption>Оборудование у сотрудника </caption>
                <tr>
                    <th>Тип</th>
                    <th>Модель</th>
                    <th>Серийный номер</th>
                    <th>Инвентарный номер</th>
                    <th>Дата покупки</th>
                    <th>Цена покупки</th>
                    <th>Рабочее</th>
                    <th>Доступно для тестирования</th>
               </tr>
                {% for e in equipments %}
                    <tr>
                        <td>{{ e.type }}</td>
                        <td><a href="{{ e.get_absolute_url }}"> {{ e.model }}</a></td>
                        <td>{{ e.serial_number }}</td>
                        <td>{{ e.id_number }}</td>
                        <td>{{ e.sale_date }}</td>
                        <td>{{ e.price }}</td>
                        <td class="mark {% if e.is_working %} mark_tick {% endif %}"> </td>
                        <td class="mark {% if e.testing %} mark_tick {% endif %}"> </td>
                    </tr>
                {% endfor %}
        </table>
    {% endif %}
{% endblock %}