{% extends 'eqlog/base.html' %}

{% block content %}
    {% if auth %}
        <h1>{{ title }}</h1>
        <p class="form-buttons">
            <p><a href="{% url 'addperson' %}" class="btn btn-outline">ДОБАВИТЬ СОТРУДНИКА</a>
        </p>
        <h3>Поиск сотрудника: </h3>
        <form method="get" action="{% url 'persons' %}">
            {{ ps_filter.form.as_p }}
            <button type="submit">Искать</button>
        </form>
        <br>
        <table border="1">
            <tr>
                <th>ФИО</th>
                <th>Отдел</th>
                <th>Должность</th>
                <th>Город</th>
                <th>Дата трудоустройства</th>
                <th>Удалёнщик</th>
                <th>Работает</th>
           </tr>
            {% for p in persons %}
                <tr>
                    <td><a href="{{ p.get_absolute_url }}"> {{ p.fio }}</a></td>
                    <td>{{ p.department }}</td>
                    <td>{{ p.job_title }}</td>
                    <td>{{ p.city }}</td>
                    <td>{{ p.jobing_at }}</td>
                    <td class="mark {% if p.remote %} mark_tick {% endif %}"></td>
                    <td class="mark {% if p.is_working %} mark_tick {% endif %}"></td>
                </tr>
            {% endfor %}
        </table>
        <p> Всего сотрудников: {{ persons | length }}</p>

        {% if page_obj.has_other_pages %}
        <nav class="list-pages">
             <ul>
                 {% if page_obj.has_previous %}
                 <li class="page-num">
                      <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
                 </li>
                {% endif %}
                 {% for p in paginator.page_range %}
                    {% if page_obj.number == p %}
                        <li class="page-num page-num-selected">{{ p }}</li>
                    {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                        <li class="page-num">
                            <a href="?page={{ p }}">{{ p }}</a>
                        </li>
                    {% endif %}
                 {% endfor %}
                 {% if page_obj.has_next %}
                 <li class="page-num">
                      <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
                 </li>
                {% endif %}
             </ul>
        </nav>
        {% endif %}
    {% endif %}
{% endblock %}